h4{
    color: red;
    text-decoration: underline;
}
h1{
    color: blue;
    background-color: black;
    text-decoration: underline;
    text-align: center;
}
.Verte{
    color: green;
}
.Jaune{
    color: yellow;
}
.Rouge{
    color: red;
}